<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/static/css/style.css" />
<body>
    <div class="wrap">
    <div>
        <div class="wrap__interface">
            <div class="wrap__interface__login">
                <h1>FoodStargram</h1>
                <form>
                
                    <div class="textbox">
                        <input type="text" placeholder="아이디" required>
                    </div>
                    <div class="textbox">
                        <input type="password" placeholder="비밀번호" required>
                    </div>
                       <div class="textbox">
                        <input type="password" placeholder="비밀번호확인" required>
                    </div>
                       <div class="textbox">
                        <input type="text" placeholder="이름" required>
                    </div>
                       <div class="textbox">
                        <input type="text" placeholder="이메일" required>
                    </div>
                    <button type="submit" class="btn">가입하기</button>
                </form>
                
            </div>
          
                </div>
                <div class="message">
                    <p>계정이 없으신가요? <a href="/user/login-view">로그인</a></p>
                </div>
        </div>
        
    </div>
</body>
</html>